fieldset.elist, input[type="text"], textarea, select, option, fieldset.elist ul, fieldset.elist > legend, fieldset.elist input[type="text"], fieldset.elist > legend:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }

.erro{
    color: red;    
}

input[type="text"] {
    padding: 0 20px;
}

input[type="text"]{
    height: 32px;
    font-family: Tahoma;
    font-size: 14px;
}